:root {
  --color-beige-background: #f5f3ef;
  --color-light-blue-grey: #bfc9ca;
  --color-light-slate: #cad3d4;
  --color-soft-ash: #d4ddde;
  --color-accent-beige: #e9e5da;
  --color-text-dark: #4a4a4a;
  --color-white: #ffffff;